table input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

table input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

table caption ol li span[role="button"] {
    display: inline-block;
    position: relative;
    padding: 0.4em 0.7em;
    border: 1px solid;
    border-radius: 5px;
    color: #f7f7f7;
    background-color: #088099;
    border-color: #f7f7f7;
}

table caption ol li span[role="button"]:hover {
    color: #AA0000;
    border-color: #088099;
    background-color: #f7f7f7;
    cursor: default;
}

table caption ol li span[role="button"]:focus {
    outline: none;
}

table caption ol li span[role="button"]:focus::before {
    position: absolute;
    z-index: -1;

    /* button border width - outline width - offset */
    top: calc(-1px - 3px - 3px);
    right: calc(-1px - 3px - 3px);
    bottom: calc(-1px - 3px - 3px);
    left: calc(-1px - 3px - 3px);
    border: 3px solid hsl(190, 90%, 32%);

    /* button border radius + outline width + offset */
    border-radius: calc(5px + 3px + 3px);
    content: '';
}

table caption ol li span[role="button"]:active {
    color: #f7f7f7;
    background-color: #088099;
    border-color: #f7f7f7;
}

table caption ol li span[role="button"][aria-pressed] {
    color: #f7f7f7;
    background-color: #088099;
    border-color: #f7f7f7;
}

table caption ol li span[role="button"][aria-pressed]:hover {
    color: #AA0000;
    border-color: #088099;
    background-color: #f7f7f7;
}

table caption ol li span[role="button"][aria-pressed="true"] {
    color: #f7f7f7;
    background-color: #088099;
    border-color: #f7f7f7;
}

table caption ol li span[role="button"][aria-pressed="true"]:hover {
    color: #AA0000;
    border-color: #088099;
    background-color: #f7f7f7;
}

table caption ol li span[role="button"][aria-pressed]:focus::before {
    color: #f7f7f7;
    background-color: #088099;
    border-color: #f7f7f7;
}

table caption ol li span[role="button"] svg {
    margin: 0.15em auto -0.15em;
    height: 1em;
    width: 1em;
    pointer-events: none;
}
